body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: rgb(255, 100, 100);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
}

button[data-open-modal] {
  color: white;
  border: none;
  background-color: rgb(255, 100, 100);
  font-size: 30px;
  cursor: pointer;
}

img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar {
  background-color: rgb(221, 221, 221);
  padding: 40px 150px 20px 50px;
  height: 800px;
}

.sidebar div {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 5px;
}

.sidebar div:hover {
  background-color: white;
}

.main {
  display: flex;
  flex-grow: 1;
}

.todo-list-container {
  padding-left: 50px;
  padding-top: 50px;
}

.todo-list div {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.done {
  margin-top: 200px;
}

.cross-off {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

dialog div {
  display: flex;
  gap: 20px;
}

.modal-right,
.modal-left {
  display: flex;
  flex-direction: column;
}

.add-project{
  background-color: grey;
  width: 30px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.new-projects {
  display: flex;
  flex-direction: column;
}

.content div {
  display: flex;
  gap: 20px;
  border: solid thin black;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  justify-content: space-between;
  flex-wrap: wrap;
}
