body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: rgb(255, 100, 100);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

button[data-open-modal] {
  color: white;
  border: none;
  background-color: rgb(255, 100, 100);
  font-size: 30px;
  cursor: pointer;
}

img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar {
  background-color: rgb(221, 221, 221);
  padding: 40px 150px 20px 70px;
  height: 800px;
}

.sidebar div {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 5px;
}

.sidebar div:hover {
  background-color: white;
}

.main {
  display: flex;
  flex-grow: 1;
}

.todo-list-container {
  padding-left: 50px;
  padding-top: 50px;
}

.cross-off {
  text-decoration: line-through;
}

.done {
  margin-top: 200px;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}